In [1]:
import pandas as pd
import sys

In [2]:
sys.path.append('../')

In [3]:
from utils import SIR, run
from vaccination_strategy.Degree_based_strategy import vaccination_strategy

In [4]:
metadata = pd.read_csv('../data/generation/metadata.csv', sep='\t', lineterminator='\n', names=['id','age', 'apartment','home', 'family','office','school'])
# Have to remove the first row as it is headings duplicated
metadata = metadata.iloc[1:, : ]
df = pd.read_csv('../data/generation/contact_network.csv')

In [5]:
df.head()

   Unnamed: 0  timestamp  p1  p2
0           0          1   4  75
1           1          1  16  26
2           2          1  96  65
3           3          1  38  31
4           4          1  70  97

In [6]:
metadata.head()

  id age apartment home family office school
1  0  40         0   -1      0      7     -1
2  1  11         0   -1      0     -1      2
3  2   8         0   -1      0     -1      1
4  3  71         0   -1      0     -1     -1
5  4  70         0   -1      0     -1     -1

In [7]:
model = SIR(
    metadata=metadata,
    df=df
)

In [8]:
vaccinated = vaccination_strategy(model,20,5)

ZeroDivisionError: float modulo

In [ ]:
print(vaccinated)

In [ ]:
run(model,vaccinated,5)